<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.easy_book">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".onlinePaymentActivity"></activity>
        <activity android:name=".onlinePayment" />
        <activity android:name=".SummaryActivity" />
        <activity android:name=".OrdersListActivity" />
        <activity android:name=".AccountActivity" />
        <activity android:name=".ConfirmBookingActivity" />
        <activity android:name=".ProfileActivity" />
        <activity android:name=".RestaurantsListActivity" />
        <activity android:name=".SigninActivity" />
        <activity android:name=".SignupActivity" />
        <activity android:name=".PanoramaActivity" />
        <activity android:name=".BookingActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.permission.ACCESS_FINE_LOCATION" />
                <category android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
                <category android:name="android.permission.ACCESS_COARSE_LOCATION" />
                <category android:name="com.example.towntour.permission.MAPS_RECEIVE" />
                <category android:name="android.permission.ACCESS_NETWORK_STATE" />
                <category android:name="android.permission.CALL_PHONE" />
                <category android:name="android.permission.READ_PHONE_STATE" />
                <category android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
            </intent-filter>
        </activity>
    </application>

</manifest>